BankClient/Connected Services/ServiceBank/ServiceBank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceBank" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceBank_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBank_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_AddMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMoney" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_AddMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_WithdrawMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawMoney" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_WithdrawMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_MoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:MoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_MoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_GettingMoney_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GettingMoney" />
  </wsdl:message>
  <wsdl:message name="IServiceBank_GettingMoney_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GettingMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBank">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/SignUp" message="tns:IServiceBank_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/SignUpResponse" message="tns:IServiceBank_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/LogIn" message="tns:IServiceBank_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/LogInResponse" message="tns:IServiceBank_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/LogOut" message="tns:IServiceBank_LogOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/AddMoney" message="tns:IServiceBank_AddMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/AddMoneyResponse" message="tns:IServiceBank_AddMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/WithdrawMoney" message="tns:IServiceBank_WithdrawMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/WithdrawMoneyResponse" message="tns:IServiceBank_WithdrawMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/MoneyTransfer" message="tns:IServiceBank_MoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/MoneyTransferResponse" message="tns:IServiceBank_MoneyTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GettingMoney">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBank/GettingMoney" message="tns:IServiceBank_GettingMoney_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBank/GettingMoneyResponse" message="tns:IServiceBank_GettingMoney_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceBank" type="tns:IServiceBank">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceBank_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/AddMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawMoney">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/WithdrawMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoneyTransfer">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/MoneyTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettingMoney">
      <soap12:operation soapAction="http://tempuri.org/IServiceBank/GettingMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBank">
    <wsdl:port name="NetTcpBinding_IServiceBank" binding="tns:NetTcpBinding_IServiceBank">
      <soap12:address location="net.tcp://localhost:8734/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-4UNTQQ7\Иван</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>